.container{
    display: flex;
    
    justify-content: center;
}
div{
    color: blue;
}
.een{
    justify-content: flex-start;  
    width: 25%;
}
.twee{
    align-self:center;
 margin: 5px;
}
.drie{
    align-self:flex-end;
    
    margin-left: 25%;
}