* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
 
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
#hacker{
 
  background-image: url(hackerm.png);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;

}
#drie{
  background-color: black;
  color: white;
}
.footer {
  background-color:#00a8c7; 
  color: white; 
  text-align: center; 
  padding: 20px; 
  position: relative; 
  bottom: 0; 
  width: 100%;
  position:fixed;
}
h1{
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  
  font-size: 60px;

}
h2{
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 0px;
}
img{
  float: left;
}
#zwart{
  float: right;
}
p{
  margin: 50px;
}
#title{
  margin-top: 28%;
}