*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
p{
    padding: 150px;
    padding-top: 0;
    padding-left: 57px;
    
}
.titel{
    background-color:#EA4D4B ;
    color: white;
    background-size: cover;
    margin: 0%;
    padding: 20px;
    padding-left: 57px;
}
.een{
 background-color: #F9CA22;
 
}
.twee{
 background-color:#F0922B ;
}
.drie{
 background-color: #69B04C ;
}
h2{
    padding: 20px;
    padding-bottom: 0;
    padding-left: 57px;
}
@media screen and (max-width: 1023px) {
body {
    .titel{
        background-color: #FF6B81;
        text-align: center;
    }
    .een{
        background-color:#FE4657 ;
        color: white;
    }
    .twee{
        background-color:#5352EC ;
        color: white;
    }
    .drie{
        background-color:#3742F9 ;
        color: white;
    }

}
}
@media screen and (max-width: 767px) {
    body {
        .titel{
            background-color: #686DE0;
            text-align: left;
        }
        .een{
            background-color:#7ED6DF ;
            color: white;
            text-align: center;
        }
        .twee{
            background-color:#E056FD;
            color: white;
            text-align: center;
        }
        .drie{
            background-color:#30336A ;
            color: white;
            text-align: center;
        }
    }
  }